<!DOCTYPE html>
<html>

<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="foundation.min.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">YOU</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" :style="myHealthStyle" style="margin: 0; color: white;">

                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">MONSTER</h1>
                <div class="healthbar">
                    <div class="healthbar text-center" :style="monsterHealthStyle" style="margin: 0; color: white;">

                    </div>
                </div>
            </div>
        </section>
        <section v-if="!inGame" class="row controls">
            <div class="small-12 columns">
                <button @click="start" id="start-game">START NEW GAME</button>
            </div>
        </section>
        <section v-if="inGame" class="row controls">
            <div class="small-12 columns">
                <button @click="attack" id="attack">ATTACK</button>
                <button @click="sAttack" id="special-attack">SPECIAL ATTACK</button>
                <button @click="heal" id="heal">HEAL</button>
                <button @click="giveUp" id="give-up">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul>
                    <li>

                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>

</html>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                log: [],
                inGame: false,
                player: {
                    name: "You",
                    health: 100,
                    minDamage: 7,
                    maxDamage: 10
                },
                monster: {
                    name: "Monster",
                    health: 100,
                    minDamage: 7,
                    maxDamage: 10
                }
            }
        },
        computed: {
            myHealthStyle: function () {
                var result = this.styleCalc(this.player.health)
                return result
            },
            monsterHealthStyle: function () {
                var result = this.styleCalc(this.monster.health)
                return result
            }
        },
        methods: {
            start() {
                this.inGame = true
                this.player.health = 100
                this.monster.health = 100
            },
            finalizeRound() {
                if (this.inGame) {
                    this.makeDamage(this.monster, this.player)
                }
            },
            attack() {
                this.makeDamage(this.player, this.monster)
                this.finalizeRound()
            },
            sAttack() { 
                this.makeSDamage(this.player, this.monster)
                this.finalizeRound()
            },
            heal() {
                var heal = this.randomizer(this.player.minDamage, this.player.maxDamage)
                this.player.health += heal
                console.log(this.player.name + " heals for " + heal);
                console.log("player health = " + this.player.health + ", monster health = " + this.monster.health);
                this.finalizeRound()
            },
            giveUp() {
                this.finishGame(this.player)
            },
            styleCalc(health) {
                var color = "green"
                if (health <= 20) {
                    color = "red"
                }
                return {
                    width: health + '%',
                    backgroundColor: color
                }
            },
            randomizer(min, max) {
                var damage = Math.floor(Math.random() * (max - min + 1)) + min;
                return damage > 0? damage : 0
            },
            // getDamage(from_who) {
            //     var attacker = from_who === "player" ? this.player : this.monster
            //     var damage = this.randomizer(attacker.minDamage, attacker.maxDamage)
            //     return damage
            // },
            makeDamage(attacker, defender) {
                var damage = this.randomizer(attacker.minDamage, attacker.maxDamage)
                defender.health -= damage
                console.log(attacker.name + " hits " + defender.name + " for " + damage);
                console.log("player health = " + this.player.health + ", monster health = " + this.monster.health);
                this.checkGameStatus(defender)
            },
            makeSDamage(attacker, defender) {
                var damage = this.randomizer(attacker.minDamage*-2, attacker.maxDamage*2.5)
                defender.health -= damage
                console.log(attacker.name + " hits " + defender.name + " for " + damage);
                console.log("player health = " + this.player.health + ", monster health = " + this.monster.health);
                this.checkGameStatus(defender)
            },
            checkGameStatus(defender) {
                if (defender.health <= 0) {
                    defender.health = 0
                    this.finishGame(defender)
                }
            },
            finishGame(looser) {
                this.inGame = false
                console.log(looser.name === "You"? "You loose!" : "You win!");
            }
        },
    })
</script>